/* Paginas Formulario Doacoes */

.pagina-inteira {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 647px;
}
.background{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  display: flex;
  min-height: 811px;
  width: 100%;
  justify-content: center;
}
@media (max-width: 991px) {
  .background {
    max-width: 100%;
  }
}
.img {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.conteudo {
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 32px 40px 80px 20px;
}
@media (max-width: 991px) {
  .conteudo {
    max-width: 100%;
    padding-right: 20px;
  }
}
.barra-nav {
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 12px;
  color: #fff;
  justify-content: space-between;
  padding-top: 100px;
}
@media (max-width: 991px) {
  .barra-nav {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.logo-nome {
  display: flex;
  gap: 10px;
  font-weight: 700;
  line-height: 200%;
}
.img-2 {
  aspect-ratio: 0.92;
  object-fit: auto;
  object-position: center;
  width: 45px;
}
.nome {
  font-family: Poppins, sans-serif;
  flex-grow: 1;
  flex-basis: auto;
  margin: auto 0;
}

.img-3 {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 20px;
  align-self: start;
}
.formulario {
  background-color: #f5f5f5;
  align-self: center;
  display: flex;
  width: 823px;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  color: #858796;
  font-weight: 400;
  margin: 70px 0 74px;
  padding: 39px 34px;
}
@media (max-width: 991px) {
  .formulario {
    margin: 40px 0;
    padding: 0 90px;
  }
}

/* Pag Formulario Multibanco */

.titulo {
  color: #000;
  text-align: center;
  font: 600 32px/120% Poppins, sans-serif;
}
.subtitulo {
  color: #000;
  text-align: center;
  margin-top: 12px;
  font: 500 16px/120% Poppins, sans-serif;
}
.primeira-caixa {
  display: flex;
  margin-top: 15px;
  margin-left: 20px;
  max-width: 100%;
  gap: 0px;
  align-self: center;
}
.img-4 {
  aspect-ratio: 1.14;
  object-fit: auto;
  object-position: center;
  width: 43px;
  fill: #e9ecef;
  stroke-width: 1px;
  stroke: #ced4da;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5.5px 0px 0px 5.5px;
}
.texto-primeira-caixa {
  font-family: Poppins, sans-serif;
  align-items: start;
  border-radius: 0px 5.5px 5.5px 0px;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  justify-content: center;
  flex-grow: 1;
  width: 500px;
  padding: 12px;
}
@media (max-width: 991px) {
  .texto-primeira-caixa {
    padding-right: 20px;
  }
}
.segunda-caixa {
  font-family: Poppins, sans-serif;
  align-items: start;
  border-radius: 5.5px;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  align-self: stretch;
  margin-top: 20px;
  justify-content: center;
  width: 750px;
  padding: 12px;
}
@media (max-width: 991px) {
  .segunda-caixa {
    max-width: 100%;
    padding-right: 20px;
  }
}
.terceira-caixa {
  display: flex;
  margin-top: 20px;
  max-width: 100%;
  gap: 0px;
  align-self: center;
}
@media (max-width: 991px) {
  .terceira-caixa {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.texto-terceira-caixa {
  font-family: Poppins, sans-serif;
  align-items: start;
  border-radius: 5.5px 0px 0px 5.5px;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  justify-content: center;
  flex-grow: 1;
  width: 650px;
  padding: 12px;
}
.img-5 {
  aspect-ratio: 2.63;
  object-fit: auto;
  object-position: center;
  width: 100px;
  fill: #e9ecef;
  stroke-width: 1px;
  stroke: #ced4da;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 0px 5.5px 5.5px 0px;
}
.linha {
  align-self: stretch;
  display: flex;
  margin-top: 20px;
  gap: 24px;
}
@media (max-width: 991px) {
  .linha {
    max-width: 100%;
    flex-wrap: wrap;
  }
}
.caixa-esquerda {
  font-family: Poppins, sans-serif;
  align-items: start;
  border-radius: 5.5px;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  align-self: stretch;
  justify-content: center;
  width: 363px;
  padding: 12px;
}
@media (max-width: 991px) {
  .caixa-esquerda {
    padding-right: 20px;
  }
}
.caixa-direita {
  font-family: Poppins, sans-serif;
  align-items: start;
  border-radius: 5.5px;
  border-color: rgba(209, 211, 226, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  align-self: stretch;
  margin-right: 20px;
  justify-content: center;
  flex-grow: 1;
  width: 363px;
  padding: 12px;
}
@media (max-width: 991px) {
  .caixa-direita {
    padding-left: 20px;
  }
}
.div-botao {
  font-family: Poppins, sans-serif;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}
@media (max-width: 991px) {
  .div-botao {
    white-space: initial;
    padding: 0 20px;
  }
}

/* Adições Pagina Principal Form Doacoes*/

.img-telefone {
  aspect-ratio: 2;
  object-fit: auto;
  object-position: center;
  width: 50px;
  fill: #e9ecef;
  stroke-width: 1px;
  stroke: #ced4da;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5.5px 0px 0px 5.5px;
}

.caixa-com-simbolo {
  display: flex;
  margin-right: 0px;
  max-width: 100%;
  gap: 0px;
  align-self: stretch;
}

.texto {
  color: #000;
  text-align: center;
  margin-top: 12px;
  font: 400 16px/120% Poppins, sans-serif;
}

.barra-nav1 {
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 12px;
  color: #fff;
  justify-content: space-between;
  padding-top: 118px;
}
@media (max-width: 991px) {
  .barra-nav1 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.barra-nav2 {
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 12px;
  color: #fff;
  justify-content: space-between;
  padding-top: 61.5px;
}
@media (max-width: 991px) {
  .barra-nav2 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

/*  Adições Pagina MbWay Form Doacoes */

.barra-nav3 {
  display: flex;
  width: 100%;
  gap: 20px;
  font-size: 12px;
  color: #fff;
  justify-content: space-between;
  padding-top: 135.5px;
}
@media (max-width: 991px) {
  .barra-nav2 {
    max-width: 100%;
    flex-wrap: wrap;
  }
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 28%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.img-mbway {
  aspect-ratio: 1;
  object-fit: contain;
  object-position: right;
  margin-top: 20px;
  max-width: 100%;
  flex-grow: 1;
}

.column {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 28%;
  margin-left: 0px;
}
@media (max-width: 991px) {
  .column {
    width: 100%;
  }
}

.column-2 {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 72%;
  margin-left: 20px;
}
@media (max-width: 991px) {
  .column-2 {
    width: 100%;
  }
}

.div-16 {
  width: 532px;
  max-width: 100%;
}
.div-17 {
  gap: 20px;
  display: flex;
}
@media (max-width: 991px) {
  .div-17 {
    flex-direction: column;
    align-items: stretch;
    gap: 0px;
  }
}

.div-18 {
  display: flex;
  flex-direction: column;
}
@media (max-width: 991px) {
  .div-18 {
    margin-top: 21px;
  }
}

.div-21 {
  display: flex;
  margin-top: 27px;
  gap: 0px;
  font-size: 14px;
  color: #858796;
  font-weight: 400;
}

.div-23 {
  display: flex;
  margin-top: 27px;
  gap: 0px;
}

.div-25 {
  align-items: start;
  border-radius: 0px 5.5px 5.5px 0px;
  border-color: rgba(206, 212, 218, 1);
  border-style: solid;
  border-width: 1px;
  background-color: #fff;
  color: #858796;
  justify-content: center;
  flex-grow: 1;
  width: fit-content;
  padding: 11px 12px;
  font: 400 14px Poppins, sans-serif;
}
@media (max-width: 991px) {
  .div-25 {
    padding-right: 20px;
  }
}